@mixin default-form
    form
        display: flex
        flex-direction: column
        justify-content: space-around
        width: 100%
    label
        margin-top: 3rem
        margin-bottom: 1rem
        font-weight: bold
        text-align: left

    input[type="submit"]
        @include default-form-input-submit

    input, textarea
        padding: .2rem
        @include default-form-input

    textarea
        resize: none

    .list-dynamic
        text-align: left
        p
            margin: .2rem

@mixin default-form-input
    font-size: 1rem
    border: 0
    border-bottom: 2px solid rgb(32, 148, 201)
    outline: none
    height: 1.2rem
    padding: .2rem
    color: #2c3e50
    transition: all 150ms
    &:focus
        border-bottom: 2px solid #055eed

@mixin default-form-input-submit
    font-family: Avenir, Helvetica, Arial, sans-serif
    background-color: #3ee287
    margin-top: 2rem
    border: 0
    border-radius: 10px
    transition: all 200ms
    width: 5rem
    height: 3rem
    align-self: center
    &:hover
        cursor: pointer
        box-shadow: 0 0 10px #2ec2c9
        transform: scale(1.05)

@mixin input-disabled
    background-color: #1ed6ab70

@mixin button
    width: 1.5rem
    &:hover
        cursor: pointer

@mixin hover-rotate-half
    transition: all 200ms
    &:hover
        transform: rotate(0.5turn)

@mixin fonts
    @font-face
        font-family: "Photoshoot"
        src: url("../assets/fonts/Photoshoot.ttf")

@mixin editable
    max-width: 100%
    word-wrap: break-word
    height: inherit
    min-height: 1.2rem
    white-space: pre-wrap
    margin: 0